{{#ember-wormhole to="title"}}&nbsp;- View Users{{/ember-wormhole}}
{{#ember-wormhole to="tools"}}
  {{#paper-button raised=true onClick=(action "downloadCSV" model) class="right"}}Download Emails{{/paper-button}}
{{/ember-wormhole}}

{{#paper-list}}
  {{#each model as |user|}}
    {{#colour-paper-item title=user.displayName gravatarHash=user.gravatarHash}}
      {{#if user.displayName}}
        <h3 class="margin-sm">{{user.displayName}} &lt;{{user.email}}&gt;</h3>
      {{else}}
        <h3 class="margin-sm">{{user.username}} &lt;{{user.email}}&gt;</h3>
      {{/if}}
      <p>{{#if user.companyName}}<strong>Company: </strong>{{user.companyName}}{{/if}} {{#if user.contactNumber}}<strong>Contact: </strong>{{user.contactNumber}}{{/if}}</p>
    {{/colour-paper-item}}
    {{paper-divider inset=true}}
  {{/each}}
{{/paper-list}}
