{{#paper-toolbar}}
  <h2 class="md-toolbar-tools">
    {{#paper-sidenav-toggle class="menu-sidenav-toggle"}}
      {{paper-icon icon="menu"}}
    {{/paper-sidenav-toggle}}
    <span>View Users</span>
    {{#paper-button raised=true action=(action "downloadCSV" content) class="right"}}Download Emails{{/paper-button}}
  </h2>
{{/paper-toolbar}}



{{#paper-list}}
  {{#each content key="id" as |user|}}
    {{#colour-paper-item title=user.title gravatarHash=user.gravatarHash}}
      <h3 class="margin-sm">{{user.title}}</h3>
      <p>{{#if user.companyName}}<strong>Company: </strong>{{user.companyName}}{{/if}} {{#if user.contactNumber}}<strong>Contact: </strong>{{user.contactNumber}}{{/if}}</p>
      {{paper-divider inset=true}}
    {{/colour-paper-item}}
  {{/each}}
{{/paper-list}}
