{{#colour-paper-item title=scope.name}}
  <h3>{{scope.name}}
    {{#if scope.paidFor}}{{paper-icon icon="shopping-cart"}}{{/if}}
    {{#if editable}}
      <a href="javascript:void()" {{action attrs.editScope}} >{{paper-icon icon="edit" size=1}}</a>
    {{/if}}
  </h3>
  <p>
    {{scope.description}}
  </p>
{{/colour-paper-item}}
