{{#colour-paper-item title=plan.name class="margin-xl"}}
  <h3 class="margin-sm">{{plan.name}}
    {{#if editable}}
      {{#paper-button iconButton=true onClick=(action attrs.editPlan)}}{{paper-icon "edit"}}{{/paper-button}}
    {{/if}}
  </h3>

  <p>
    {{#paper-chips
      readOnly=true
      content=plan.permissions
      as |item|}}
      <strong>{{item.name}}</strong>
      <em>({{item.description}})</em>
    {{/paper-chips}}

    {{log plan plan.scopes}}
  </p>
{{/colour-paper-item}}
