{{#paper-card as |card|}}
  {{#card.header as |header|}}
    {{#header.avatar}}
      {{#unless image}}
        <div class="circle circle--text circle--{{firstLetter}} md-icon">{{firstLetter}}</div>
      {{else}}
        <img src="https://www.gravatar.com/avatar/{{image}}" class="md-avatar">
      {{/unless}}
    {{/header.avatar}}
    {{#header.text as |text|}}
      {{#text.title}}{{account.name}}{{#if editable}}
        {{#paper-button iconButton=true onClick=(action attrs.editAccount)}}{{paper-icon "edit"}}{{/paper-button}}
      {{/if}}{{/text.title}}

    {{/header.text}}
  {{/card.header}}

  {{#card.content}}
    <div class="account-summary">

      <div class="account-details">
        <h5 class="details-label">Plan:</h5>
        {{#paper-chips
          readOnly=true
          content=(array account.plan)
          as |plan|}}
          <span>{{#link-to 'admin.plans.edit' plan.id}}{{plan.name}}{{/link-to}}</span>
        {{/paper-chips}}
      </div>


      <div class="account-details">
        <h5 class="details-label">Users:</h5>
        {{#paper-chips
          readOnly=true
          content=account.users as |user|}}
          {{#if user.displayName}}
            {{user.displayName}} &lt;{{user.email}}&gt;
          {{else}}
            {{user.email}}
          {{/if}}
        {{/paper-chips}}
      </div>


      <div class="account-details layout-row layout-align-start-center">
        <h5 class="details-label">Expiry:</h5>
        <span>Expires {{moment-from-now account.expiry}}</span>
      </div>

    </div>

  {{/card.content}}
{{/paper-card}}
