{{#colour-paper-item title=title gravatarHash=sortedUsers.firstObject.gravatarHash hasImage=sortedUsers.firstObject.hasImage class="margin-xl"}}

  <h3>
    {{account.name}}
    <a href="javascript:void()" {{action attrs.editAccount}} >{{paper-icon icon="edit" size=1}}</a>
  </h3>

  <p>
    {{#paper-chips readOnly=true content=account.planArray as |plan|}}
      <span>{{plan.name}}</span>
    {{/paper-chips}}
  </p>
  <p>
    {{#paper-chips readOnly=true content=sortedUsers as |user|}}
      {{user.username}}
    {{/paper-chips}}
  </p>

{{/colour-paper-item}}
