{{#paper-dialog class="flex-gt-sm-50 flex-sm-70 flex-xs-90" onClose=(action attrs.cancel) clickOutsideToClose=true}}
  <form>
    {{#paper-toolbar}}
      {{#paper-toolbar-tools}}
        <h2>{{title}}</h2>
        <span class="flex"></span>
        {{#paper-button iconButton=true onClick=(action attrs.cancel)}}{{paper-icon icon="close"}}{{/paper-button}}
      {{/paper-toolbar-tools}}
    {{/paper-toolbar}}

    {{#paper-dialog-content}}
      <div class="layout layout-column layout-gt-sm-row layout-align-space-between-center">
        {{paper-input class="flex-gt-sm-30" label="Name" value=model.name onChange=(action (mut model.name))}}
        {{#paper-select
            label="Stripe Plan"
            class="flex-gt-sm-30"
            options=stripePlans
            selected=model.stripePlan
            onChange=(action (mut model.stripePlan))
            as |plan|}}
            {{stripe-plan-summary plan=plan}}
          {{/paper-select}}
        <div style="padding-bottom: 16px;" class="hide-sm hide-xs">
          {{#paper-button iconButton=true id='create-plan-icon' target="_blank" href="https://dashboard.stripe.com/subscriptions/products"}}
            {{paper-icon "open-in-new"}}
          {{/paper-button}}
          <span class="hide-gt-sm">Create New Plan</span>
          {{ember-tooltip class="hide-sm" targetId='create-plan-icon' text="Create new plan"}}
        </div>

        <div style="padding-bottom: 16px;" class="hide-gt-sm">
          {{#paper-button target="_blank" href="https://dashboard.stripe.com/subscriptions/products"}}
            {{paper-icon "open-in-new"}} Create New Plan
          {{/paper-button}}
        </div>
        {{#paper-checkbox class="flex-gt-sm-30" value=model.allowSubscriptions onChange=(action (mut model.allowSubscriptions))}}
          Allow new subscriptions
        {{/paper-checkbox}}
      </div>
      {{#paper-chips
        options=availablePermissions
        searchField="name"
        placeholder="Add Permissions"
        removeItem=(action "removePermission")
        addItem=(action "addPermission")
        content=model.permissions
        as |item|}}
        <strong>{{item.name}}</strong>
        <em>({{item.description}})</em>
      {{/paper-chips}}
    {{/paper-dialog-content}}

    {{#paper-dialog-actions class="layout-row"}}
      <span class="flex"></span>
      {{#if attrs.delete}}
        {{#paper-button classNames="md-warn" onClick=(action attrs.delete)}}<small>delete</small>{{/paper-button}}
      {{/if}}
      {{paper-button raised=true label="Save" classNames="md-primary" onClick=(action attrs.save)}}
    {{/paper-dialog-actions}}
  </form>
{{/paper-dialog}}
