{{#paper-toolbar}}
  <h2 class="md-toolbar-tools">
    {{#paper-sidenav-toggle class="menu-sidenav-toggle"}}
      {{paper-icon icon="menu"}}
    {{/paper-sidenav-toggle}}
    <span>Plans</span>
  </h2>
{{/paper-toolbar}}



{{#paper-list}}
  {{#each content as |plan|}}
    {{colour-paper-item title=plan.name}}
  {{/each}}
{{/paper-list}}

{{#paper-button classNames="md-fab md-primary bottom-right-button" action="createPlan"}} {{paper-icon icon="add" size=2 classNames="patch-size-2"}} {{/paper-button}}

{{#if showDialog}}

  {{#paper-dialog title="New Plan" close="closeDialog"}}
    <md-dialog-content>
      {{paper-text label="Name" value=newPlan.name}}
      {{paper-text label="Permissions" value=permissions}}
      {{paper-checkbox label="Allow new subscriptions" checked=newPlan.newSubscriptions}}
    </md-dialog-content>

    <div class="md-actions" layout="row">
      {{paper-button raised=true label="Save" classNames="md-primary" action="savePlan"}}
    </div>
  {{/paper-dialog}}

{{/if}}
