{{#paper-item}}

  {{#unless hasImage}}
    <div class="circle circle--text circle--{{firstLetter}} md-icon">{{firstLetter}}</div>
  {{else}}
    <img src="https://www.gravatar.com/avatar/{{gravatarHash}}" class="circle md-icon">
  {{/unless}}


  <div class="md-list-item-text">
    {{#if hasBlock}}
      {{yield}}
    {{else}}
      <h3>{{title}}</h3>
    {{/if}}
  </div>
{{/paper-item}}
