{{#ember-wormhole to="title"}}&nbsp;- Enable Users{{/ember-wormhole}}
{{#ember-wormhole to="tools"}}
  {{#paper-switch value=showHidden onChange=(action (mut showHidden)) class="right smaller-font"}}
    Show Hidden
  {{/paper-switch}}
{{/ember-wormhole}}

{{#paper-list}}
  {{#each model as |user|}}
    {{#colour-paper-item title=user.title gravatarHash=user.gravatarHash class="margin-xl"}}
      {{#if user.displayName}}
        <h3 class="margin-sm">{{user.displayName}} &lt;{{user.email}}&gt;</h3>
      {{else}}
        <h3 class="margin-sm">{{user.username}} &lt;{{user.email}}&gt;</h3>
      {{/if}}
      <p>
        {{#if user.companyName}}
          <strong>Company:</strong> {{user.companyName}}
        {{/if}}
        {{#if user.contactNumber}}
          <strong>Contact:</strong> {{user.contactNumber}}
        {{/if}}
        {{#if user.websiteUrl}}
          <strong>Website:</strong> <a href={{user.websiteUrl}} target="_blank">{{user.websiteUrl}}</a>
        {{/if}}
      </p>
      {{#if user.confirmationSent}}
        Email sent {{#paper-button classNames="md-primary" onClick=(action 'enableUser' user)}}resend{{/paper-button}}
      {{else}}
        {{#paper-button raised=true classNames="md-primary" onClick=(action 'enableUser' user)}}Enable{{/paper-button}}
      {{/if}}
      {{#paper-button classNames="md-secondary" onClick=(action 'hideUser' user)}}Hide{{/paper-button}}
    {{/colour-paper-item}}
    {{paper-divider inset=true}}
  {{/each}}
{{/paper-list}}
