{{#paper-toolbar}}
  <h2 class="md-toolbar-tools">
    {{#paper-sidenav-toggle class="menu-sidenav-toggle"}}
      {{paper-icon icon="menu"}}
    {{/paper-sidenav-toggle}}
    <span>User Admin</span>
  </h2>
{{/paper-toolbar}}

{{#paper-list}}
  {{#each content key="id" as |user|}}
    {{#colour-paper-item title=user.title gravatarHash=user.gravatarHash class="margin-xl"}}
      {{#if user.displayName}}
        <h3 class="margin-sm">{{user.displayName}} &lt;{{user.email}}&gt;</h3>
      {{else}}
        <h3 class="margin-sm">{{user.username}} &lt;{{user.email}}&gt;</h3>
      {{/if}}
      <p>
        {{#if user.companyName}}
          <strong>Company:</strong> {{user.companyName}}
        {{/if}}
        {{#if user.contactNumber}}
          <strong>Contact:</strong> {{user.contactNumber}}
        {{/if}}
        {{#if user.websiteUrl}}
          <strong>Website:</strong> <a href={{user.websiteUrl}} target="_blank">{{user.websiteUrl}}</a>
        {{/if}}
      </p>
      {{#if user.confirmationSent}}
        Email sent {{#paper-button classNames="md-primary" action=(action 'enableUser' user)}}resend{{/paper-button}}
      {{else}}
        {{#paper-button raised=true classNames="md-primary" action=(action 'enableUser' user)}}Enable{{/paper-button}}
      {{/if}}
    {{/colour-paper-item}}
    {{paper-divider inset=true}}
  {{/each}}
{{/paper-list}}
