{{#paper-dialog title="Edit Permission" close="cancel"}}
  <md-dialog-content>
    {{paper-text label="Name" value=model.name}}
    {{paper-text label="Description" value=model.description}}
    {{paper-text label="Scope Code" value=model.scope}}
    {{paper-checkbox label="Is a 'paid for' permission" checked=model.paidFor}}
  </md-dialog-content>

  <div class="md-actions" layout="row">
    {{#paper-button classNames="md-warn" action="delete"}}<small>delete</small>{{/paper-button}}
    {{paper-button raised=true label="Save" classNames="md-primary" action="save"}}
  </div>
{{/paper-dialog}}
